<section class="container my-5 py-5">
  <div class="bg-newsletter d-flex flex-column flex-lg-row align-items-start gap-4 gap-lg-0 justify-content-between">
    <div class="col-12 col-lg-5">
      <h2 class="newsletter-title">¡Únete a nuestra Newsletter!</h2>
    </div>
    <div class="col-12 col-lg-5 newsletter-content">
      <div class="newsletter-container d-flex flex-column gap-4 gap-lg-3">
        <p class="news-description col-12 col-lg-11">Suscríbete a nuestra newsletter para estar al tanto de las últimas novedades y ofertas exclusivas. No te pierdas la oportunidad de recibir información valiosa directamente en tu bandeja de entrada.</p>
        <form class="" [formGroup]="newsletterForm" (ngSubmit)="submitNewsletter()">
          <div class="d-flex flex-column flex-lg-row align-items-center justify-content-lg-start justify-content-center gap-4 gap-lg-3">
            <input formControlName="email" class="input-neswletter col-12 col-lg-5 p-3 p-lg-2" type="text" placeholder="Introduce tu correo" required>
            <button class="btn btn-primary col-12 col-md-3 p-3 p-lg-2" type="submit">Suscribirse</button>
          </div>
        </form>
        <p class="col-12 col-lg-10 privacy-boletin">Al hacer clic en Suscribirse, confirmas que aceptas nuestros Términos y Condiciones.</p>
      </div>
    </div>
  </div>
</section>
