@import url(../../../../styles.scss);
.navbar-logo .logo-ihcasa {
  /* width: 120px; */
  max-width: 100%;
  height: auto;
}

.navbar-height {
  height: 80px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

/* a.navbar-logo {
  position: relative;
  z-index: 5;
} */

.nav-item a {
  color: var(--color-primary);
  font-weight: 600;
  /* text-decoration: none; */
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}


@media screen and (max-width: 767px) {
  .navbar-logo .logo-ihcasa {
    width: 100px;
  }
  .offcanvas-end{
    max-width: 70%;
  }
  button:focus:not(:focus-visible){
    box-shadow: 0px 0px 0px 3px #092B54;
  }
  .navbar-toggler {
    border: none !important;
  }
  .offcanvas-header {
    justify-content: end;
    padding-right: 2em !important;
    .btn-close {
      margin-top: 8px;
      font-size: 1.5em;
    }
    .btn-close:focus:not(:focus-visible) {
      box-shadow: none;
    }
  }
  button:focus:not(:focus-visible) {
    box-shadow: none;
  }
  .social-icon {
    width: 30px;
    max-width: 100%;
  }
  .menu-icon {
    width: 30px;
    max-width: 100%;
  }
  .close-btn {
    background: none;
    border: none;
    img {
      width: 25px;
      max-width: 100%;
    }
  }
  /* .offcanvas-header .btn-close {
    margin: calc(-.5 * var(--bs-offcanvas-padding-y)) calc(.6 * var(--bs-offcanvas-padding-x)) calc(-.5 * var(--bs-offcanvas-padding-y)) auto;
    margin-top: 12px;
  } */
}

