<section class="my-5 pb-5">
  <div class="container d-flex align-items-center justify-content-center">
    <h1 class="text-black text-center col-12 col-lg-4 testimonials-title">Testimonios de Clientes</h1>
  </div>
  <div id="carouselExampleDark" class="carousel carousel-dark slide mb-5">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="testimonials-content">
      <div class="carousel-item active">
        <div class="carousel-caption col-lg-5">
          <h5 class="mb-3 col-8 col-lg-12 mb-3 mb-lg-4">La calidad de la carne es excepcional y siempre fresca.</h5>
          <p class="mb-4 col-10 col-lg-12">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."</p>
          <div class="profile-testimonial d-flex flex-column align-items-center justify-content-center gap-2">
            <img class="img-testimonial" src="assets/images/shared/testimonials-avatar/avatar_1.webp" alt="Avatar Image">
            <h6>Name Surname</h6>
            <p>Position, Company name</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption col-lg-5">
          <h5 class="mb-3 col-8 col-lg-12 mb-3 mb-lg-4">Subtítulo secundario del carousel de Testimonios.</h5>
          <p class="mb-4 col-10 col-lg-12">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."</p>
          <div class="profile-testimonial d-flex flex-column align-items-center justify-content-center gap-2">
            <img class="img-testimonial" src="assets/images/shared/testimonials-avatar/avatar_1.webp" alt="Avatar Image">
            <h6>Name Surname</h6>
            <p>Position, Company name</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption col-lg-5">
          <h5 class="mb-3 col-8 col-lg-12 mb-3 mb-lg-4">Subtítulo terciario del carousel de Testimonios.</h5>
          <p class="mb-4 col-10 col-lg-12">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."</p>
          <div class="profile-testimonial d-flex flex-column align-items-center justify-content-center gap-2">
            <img class="img-testimonial" src="assets/images/shared/testimonials-avatar/avatar_1.webp" alt="Avatar Image">
            <h6>Name Surname</h6>
            <p>Position, Company name</p>
          </div>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div> -->
    </div>
    <button class="carousel-control-prev d-none d-lg-flex" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next d-none d-lg-flex" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
