
.btn-cta {
  border: none;
  background: none;
  position: absolute;
  z-index: 100;
  bottom: 2em;
  right: 2em;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.cta-icon {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 70px;
  filter: drop-shadow(0px 5px 10px #00000080);
  /* transition: all .2s ease; */
  transition: 0.3s;
}
.cta-icon:hover {
  transform: translate(0, -10px);
}

@media screen and (max-width: 767px) {
  .cta-icon {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 60px;
  }
}
