<section class="about-header d-flex align-items-center justify-content-center">
  <div class="header-container">
    <h2 class="text-white text-center">Nuestra Historia</h2>
    <p class="text-white text-center">Conocer un poco de nuestra historia...</p>
  </div>
  <img class="about-banner" [src]="['assets/images/about/banner.webp']" alt="Header banner image">
</section>

<section class="container about-section">
  <div class="container about d-flex flex-column flex-lg-row align-items-center justify-content-between gap-4 gap-lg-0">
    <div class="col-12 col-lg-6">
      <h3 class="about-title">Trayendo Calidad Global a Honduras</h3>
    </div>
    <div class="col-12 col-lg-5 d-flex flex-column align-items-start gap-3">
      <p class="m-0">Fundada en 2024, Importadora de Carnes S.A. (IHCASA) es una empresa hondureña creada por tres socios con amplia experiencia en el sector cárnico.</p>
      <p class="m-0">Nuestro objetivo es proporcionar carnes de primera calidad, importadas desde las mejores fuentes internacionales, a gran escala con lo más altos estándares de seguridad alimentaria.</p>
      <button class="btn btn-primary col-12 col-lg-3 py-3 py-lg-2" role="button">
        <a class="text-reset text-decoration-none" routerLink="/contact">Contáctanos</a>
      </button>
    </div>
  </div>
</section>

<section class="container about-section">
  <div class="container about d-flex flex-column flex-lg-row align-items-center justify-content-between gap-4 gap-lg-0">
    <div class="col-12 col-lg-5 d-flex flex-column align-items-start gap-3">
      <h5 class="license-title col-10 col-lg-12">Permisos y Licencias</h5>
      <p class="m-0">Contamos con todas las licencias sanitarias y permisos de exportación necesarios, asegurando que cada producto cumpla con las normativas nacionales e internacionales.
      </p>
      <p class="m-0">Nuestra pasión por la carne y el compromiso con la calidad nos han convertido en un referente para clientes que buscan excelencia.
      </p>
    </div>
    <div>
      <img class="license-img" src="assets/images/about/licenses-img.webp" alt="Licenses Image">
    </div>
  </div>
</section>

<section class="container d-flex flex-column align-items-center gap-5">
  <div class="bg-gray d-flex flex-column align-items-center">
    <div class="d-flex align-items-center justify-content-center">
      <h5 class="license-title text-center">Nuestra Misión y Visión</h5>
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center gap-4 gap-lg-5">
      <div class="card-mision d-flex flex-column align-items-start gap-4">
        <img class="img-card-mision" src="assets/images/about/mision-icon.svg" alt="Mision icon">
        <h6 class="m-0">Misión</h6>
        <p class="m-0">Llevar carnes de calidad mundial a las compañías de Honduras.</p>
      </div>
      <div class="card-mision d-flex flex-column align-items-start gap-4">
        <img class="img-card-mision" src="assets/images/about/vision-icon.svg" alt="Vision icon">
        <h6 class="m-0">Visión</h6>
        <p class="m-0">Convertirnos en líderes en la importación de carnes en la región.</p>
      </div>
    </div>
  </div>
</section>

<section class="container about-section d-flex flex-column align-items-center gap-4">
  <div class="team d-flex flex-column align-items-center gap-1">
    <h4 class="team-title">Nuestro equipo</h4>
    <p class="team-subtitle m-0">Conoce a los líderes de nuestra empresa.</p>
  </div>
  <div class="team-list d-flex flex-column flex-lg-row justify-content-between align-items-lg-start align-items-center gap-4 gap-lg-0 col-12 container">
    <div class="team-card d-flex flex-column align-items-center justify-content-center gap-1 col-lg-4 col-12">
      <img src="assets/images/about/team-pictures/profile-1.webp" alt="Profile Picture">
      <h5 class="name-profile m-0">Juan Pérez</h5>
      <p class="role-profile m-0">Director General</p>
      <span class="desc-profile col-10 col-lg-12 text-center m-0">Con más de 20 años de experiencia en la industria.</span>
    </div>
    <div class="team-card d-flex flex-column align-items-center justify-content-center gap-1 col-lg-4 col-12">
      <img src="assets/images/about/team-pictures/profile-2.webp" alt="Profile Picture">
      <h5 class="name-profile m-0">María López</h5>
      <p class="role-profile m-0">Gerente de Ventas</p>
      <span class="desc-profile col-10 col-lg-12 text-center m-0">Apasionada por conectar productos de calidad con nuestros clientes.</span>
    </div>
    <div class="team-card d-flex flex-column align-items-center justify-content-center gap-1 col-lg-4 col-12">
      <img src="assets/images/about/team-pictures/profile-3.webp" alt="Profile Picture">
      <h5 class="name-profile m-0">Carlos Ruiz</h5>
      <p class="role-profile m-0">Jefe de Operaciones</p>
      <span class="desc-profile col-10 col-lg-12 text-center m-0">Encargado de asegurar la calidad en cada etapa del proceso.</span>
    </div>
  </div>
</section>

<section class="container about-section d-flex flex-column align-items-center gap-5">
  <div class="team d-flex flex-column align-items-center gap-1 text-center">
    <h4 class="team-title">Galería de Imágenes</h4>
    <p class="team-subtitle m-0">Calidad en todas nuestras importaciones.</p>
  </div>
  <div class="gallery-items d-flex flex-column flex-lg-row align-items-center gap-lg-2 gap-4 col-12">
    <div class="picture-item main-picture col-lg-6 col-10 text-center">
      <img src="assets/images/about/gallery/image-1.webp" alt="Image 1">
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center gap-4 col-12 col-lg-6 flex-wrap">
      <div class="picture-item">
        <img src="assets/images/about/gallery/image-2.webp" alt="Image 2">
      </div>
      <div class="picture-item">
        <img src="assets/images/about/gallery/image-3.webp" alt="Image 3">
      </div>
      <div class="picture-item">
        <img src="assets/images/about/gallery/image-4.webp" alt="Image 4">
      </div>
      <div class="picture-item">
        <img src="assets/images/about/gallery/image-5.webp" alt="Image 5">
      </div>
    </div>
  </div>
</section>

<app-catalog></app-catalog>

<app-testimonials></app-testimonials>

<app-newsletter></app-newsletter>

<app-contactform></app-contactform>
